/* <![CDATA[ */
/*
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,700|Raleway:300,300i,400,400i,500,500i,700,700i&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

/*
 * 공통스타일
 *  웹폰트 적용
 *  https://fonts.google.com
 */
body {
  font-family: 'Noto Sans KR', sans-serif;
}

/*
 * subnavbar
 */
.blog-subnavbar {
  position: relative;
  z-index: 1020;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .blog-subnavbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
/* layout */
@media (min-width: 768px) {
  .blog-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 'sidebar main';
    grid-template-columns: 1fr 3fr;
  }
}
@media (min-width: 992px) {
  .blog-layout {
    grid-template-columns: 1fr 5fr;
  }
}
/* sidebar */
.blog-sidebar {
  grid-area: sidebar;
}
@media (max-width: 767.98px) {
  .blog-sidebar {
    margin: 0 -0.75rem 1rem;
  }
}
/* main */
.blog-main {
  grid-area: main;
}
@media (min-width: 768px) {
  .blog-main {
    display: grid;
    gap: inherit;
    grid-template-areas: 'intro' 'toc' 'content';
    grid-template-rows: auto auto 1fr;
  }
}
@media (min-width: 992px) {
  .blog-main {
    grid-template-areas: 'intro   toc' 'content toc';
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
  }
}
/* toc */
.blog-toc {
  grid-area: toc;
}
@media (min-width: 992px) {
  .blog-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
  }
}
.blog-toc nav {
  font-size: 0.875rem;
}
.blog-toc nav ul {
  padding-left: 0;
  list-style: none;
}
.blog-toc nav ul ul {
  padding-left: 1rem;
  margin-top: 0.25rem;
}
.blog-toc nav li {
  margin-bottom: 0.25rem;
}
.blog-toc nav a {
  color: inherit;
}
.blog-toc nav a:not(:hover) {
  text-decoration: none;
}
.blog-toc nav a code {
  font: inherit;
}
/* content */
.blog-content {
  grid-area: content;
  min-width: 1px;
}
.blog-content > h2:not(:first-child) {
  margin-top: 3rem;
}
.blog-content > h3 {
  margin-top: 2rem;
}
.blog-content > ul li,
.blog-content > ol li {
  margin-bottom: 0.25rem;
}
.blog-content > ul li > p ~ ul,
.blog-content > ol li > p ~ ul {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.blog-content > .table {
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}
.blog-content > .table th:first-child,
.blog-content > .table td:first-child {
  padding-left: 0;
}
.blog-content > .table th:not(:last-child),
.blog-content > .table td:not(:last-child) {
  padding-right: 1.5rem;
}
.blog-content > .table td:first-child > code {
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .blog-content > .table {
    display: block;
    overflow-x: auto;
  }
  .blog-content > .table.table-bordered {
    border: 0;
  }
}

/* bootstrap */
.bd-clipboard {
  position: relative;
  display: none;
  float: right;
}
.bd-clipboard + .highlight {
  margin-top: 0;
}
@media (min-width: 768px) {
  .bd-clipboard {
    display: block;
  }
}
.btn-clipboard {
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
  z-index: 10;
  display: block;
  padding: 0.20rem 0.5rem;
  font-size: 0.65em;
  color: #3498db;
  background-color: #fff;
  border: 1px solid;
  border-radius: 0.25rem;
}
.btn-clipboard:hover,
.btn-clipboard:focus {
  color: #fff;
  background-color: #3498db;
}


article hr {
  margin-bottom: 2rem;
  border: 1px solid #cfcfcf;
}
article img {width: 100%;}


.aside-tag {
  background-color: #82ccdd;
  color: #0c2461;
  text-decoration: none;
}

.article-tag {
  padding: 0.5em;
  background-color: #6f1e51;
  color: #ffffff;
}
a.article-tag:hover {
  color: #dde906;
}

.blog-navbar {
  background-color: #7dbe19;
  /*
  background-color: #ec227c;
  background-color: #f8bf00;
  background-color: #0d86c2;
  */
}

.blog-footer {
  padding: 3rem;
  color: #ffffff;
  background-color: #292b33;
}

/*
 * article content
 */
article h1 {font-size: 2.0em; color: #130f40;}
article h2 {font-size: 1.8em; color: #130f40;}
article h3 {font-size: 1.6em; color: #130f40;}
article h4 {font-size: 1.4em; color: #130f40;}
article h5 {font-size: 1.2em; color: #130f40;}
article h6 {font-size: 1.0em; color: #130f40;}
article h2::before {content: '❑ ';}
article h3::before {content: '➜ ';}
article h4::before {content: '➪ ';}
article h5::before {content: '➾ ';}
/* ]]> */
